::root {
  --primary-color: #1a96f5;
  --secondary-color: #004E89;
  --gray: rgb(224, 224, 224);
}

* {
  font-family: "Product Sans Regular";
}

@font-face {
  font-family: 'Product Sans Regular';
  src: url("/bundles/typography/fonts/Product Sans/Regular.ttf");
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 45px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.subtitle {
  margin: 0;
  padding: 0;
}

.subtitle.large {
  font-size: 20px;
}

.subtitle.large.fade {
  color: #a0a0a0;
}

.subtitle.large.shown {
  color: black;
}

.subtitle.medium {
  font-size: 18px;
}

.subtitle.medium.fade {
  color: #a0a0a0;
}

.subtitle.medium.shown {
  color: black;
}

.subtitle.small {
  font-size: 14px;
}

.subtitle.small.fade {
  color: #a0a0a0;
}

.subtitle.small.shown {
  color: black;
}

.highlight {
  background: #e0e0e0;
}

.highlight.blue {
  color: #1a96f5;
  background: none;
}

.highlight.blue.bg-lightgray {
  padding: 0 10px;
  border-radius: 5px;
  background: lightgray;
}

.highlight.blue.bg-blue {
  padding: 0 10px;
  border-radius: 5px;
  color: white;
  background: #1a96f5;
}

.highlight.gray {
  color: #a0a0a0;
  background: none;
}

.highlight.gray.bg-lightgray {
  padding: 0 10px;
  border-radius: 5px;
  background: lightgray;
}

.highlight.gray.bg-blue {
  padding: 0 10px;
  border-radius: 5px;
  color: white;
  background: #1a96f5;
}

.body.expand {
  margin: 0;
  padding: 0;
}

.navbar {
  background: white;
  -webkit-box-shadow: 0 0 5px #e0e0e0;
          box-shadow: 0 0 5px #e0e0e0;
  top: 0;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
}

.navbar .navbar-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  color: #a0a0a0;
}

.navbar .navbar-option:hover {
  background: whitesmoke;
}

.button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline-color: #1a96f5;
  outline-width: thin;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-weight: 550;
  font-size: 12px;
}

.button.dark {
  border: none;
  background: #1a96f5;
  color: white;
}

.button.light {
  border: 1px solid #1a96f5;
  color: #1a96f5;
}

.button.light.w-effect:hover {
  color: white;
  background: #1a96f5;
}

.button.ultra-light {
  border: none;
  color: gray;
}

.button.ultra-light:hover {
  background: whitesmoke;
}

.button.ultra-light:active {
  background: whitesmoke;
}

.input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline-color: #1a96f5;
  outline-width: thin;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
}

.wrapper-input.search {
  margin: 10px;
}

.wrapper-input.search input {
  border: 1.5px solid #e0e0e0;
}

.wrapper-input.search input::-webkit-input-placeholder {
  color: #a0a0a0;
}

.wrapper-input.search input:-ms-input-placeholder {
  color: #a0a0a0;
}

.wrapper-input.search input::-ms-input-placeholder {
  color: #a0a0a0;
}

.wrapper-input.search input::placeholder {
  color: #a0a0a0;
}

.wrapper-input.search input::-webkit-search-cancel-button {
  z-index: 99;
}

.wrapper-input.search input:placeholder-shown + svg {
  opacity: 10;
}

.wrapper-input.search input + svg {
  opacity: 0;
  margin-left: -30px;
  margin-bottom: -2px;
  stroke: #a0a0a0;
}

.wrapper-input.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.wrapper-input.checkbox .checkbox-text {
  margin: 5px 0;
  font-size: 16px;
}

.wrapper-input.checkbox .input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.wrapper-input.checkbox .checkbox-marker {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: whitesmoke;
  border: 1.5px solid #e0e0e0;
}

.wrapper-input.checkbox input:hover ~ .checkbox-marker {
  background-color: #e0e0e0;
}

.wrapper-input.checkbox input:checked ~ .checkbox-marker {
  background-color: #1a96f5;
  border: 1.5px solid #1a96f5;
}

.wrapper-input.checkbox .checkbox-marker:after {
  content: "";
  position: absolute;
  display: none;
}

.wrapper-input.checkbox input:checked ~ .checkbox-marker:after {
  display: block;
}

.wrapper-input.checkbox .checkbox-marker:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*the container must be positioned relative:*/
.select-tool {
  position: relative;
}

.select-tool select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  border: 1.5px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #1a96f5 transparent;
  top: 7px;
}

.select-items div {
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  color: black;
  padding: 8px 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-items {
  position: absolute;
  background-color: whitesmoke;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 8;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 5px;
  padding: 10px 5px;
  margin: 5px;
}

.card.fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card.fit.material {
  border: 0;
  -webkit-box-shadow: 0 0 5px #e0e0e0;
          box-shadow: 0 0 5px #e0e0e0;
}

.card.fit.material.dark {
  color: white;
  background: #1a96f5;
}

.card.fit.material.dark.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.material.dark.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.material.dark.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.material.dark.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.material.dark.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.material.dark.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.material.light {
  background: white;
}

.card.fit.material.light.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.material.light.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.material.light.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.material.light.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.material.light.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.material.light.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.flat {
  border: 1.5px solid #e0e0e0;
}

.card.fit.flat.dark {
  color: white;
  background: #1a96f5;
}

.card.fit.flat.dark.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.flat.dark.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.flat.dark.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.flat.dark.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.flat.dark.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.flat.dark.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.flat.light {
  background: white;
}

.card.fit.flat.light.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.flat.light.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.flat.light.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.fit.flat.light.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.fit.flat.light.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.fit.flat.light.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow {
  width: 100%;
}

.card.flow.material {
  border: 0;
  -webkit-box-shadow: 0 0 5px #e0e0e0;
          box-shadow: 0 0 5px #e0e0e0;
}

.card.flow.material.dark {
  color: white;
  background: #1a96f5;
}

.card.flow.material.dark.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.material.dark.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.material.dark.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.material.dark.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.material.dark.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.material.dark.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.material.light {
  background: white;
}

.card.flow.material.light.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.material.light.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.material.light.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.material.light.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.material.light.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.material.light.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.flat {
  border: 1.5px solid #e0e0e0;
}

.card.flow.flat.dark {
  color: white;
  background: #1a96f5;
}

.card.flow.flat.dark.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.flat.dark.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.flat.dark.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.flat.dark.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.flat.dark.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.flat.dark.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.flat.light {
  background: white;
}

.card.flow.flat.light.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.flat.light.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.flat.light.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card.flow.flat.light.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card.flow.flat.light.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card.flow.flat.light.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container.fit.just-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.fit.just-flex.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.fit.just-flex.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.fit.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container.fit.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.fit.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.fit.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.fit.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.fit.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.fit.focal-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.container.fit.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
}

.container.flow {
  width: 100%;
}

.container.flow.just-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.flow.just-flex.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.flow.just-flex.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.flow.center-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container.flow.center-1.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.flow.center-1.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.flow.center-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container.flow.center-2.orientation-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.flow.center-2.orientation-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container.flow.focal-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.container.flow.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
}
/*# sourceMappingURL=style.css.map */