$primary-color : #1a96f5;
$secondary-color : #004E89;
$gray : rgb(224, 224, 224);
$dark-gray : #a0a0a0;
$shadow : 0 0 5px $gray;

::root {
    --primary-color : #1a96f5;
    --secondary-color : #004E89;
    --gray : rgb(224, 224, 224);


}