/** Pretzel Style Accent Color **/
$primary-color : #1a96f5;

/** Blue Color Pallete**/
$blue-100: #00a8cc;
$blue-200: #1a96f5;
$blue-300: #0c7b93;
$blue-400: #27496d;
$blue-500: #142850;

/** Reddish Blue Pallete **/
$redblue-100: #f67280;
$redblue-200: #c06c84;
$redblue-300: #6c5b7b;
$redblue-400: #35477d;

/** Orange Aqua Pallete **/
$orangeaqua-100: #63b7af;
$orangeaqua-200: #347474;
$orangeaqua-300: #35495e;
$orangeaqua-400: #ee8572;

/** Orange Aqua Pallete **/
$cafe-100: #F97B4F;
$cafe-200: #FCBC66;
$cafe-300: #8DC6BF;
$cafe-400: #584053;

/** Grays **/
$gray : rgb(224, 224, 224);
$dark-gray : #a0a0a0;

// Design use in linking with code
::root {
    /** Pretzel Style Accent Color **/
    --primary-color : #1a96f5;

    /** Blue Color Pallete**/
    --blue-100: #00a8cc;
    --blue-200: #1a96f5;
    --blue-300: #0c7b93;
    --blue-400: #27496d;
    --blue-500: #142850;

    /** Red Blue Color Pallete**/
    --redblue-100: #f67280;
    --redblue-200: #c06c84;
    --redblue-300: #6c5b7b;
    --redblue-400: #35477d;

    /** Orange Aqua Pallete **/
    --orangeaqua-100: #63b7af;
    --orangeaqua-200: #347474;
    --orangeaqua-300: #35495e;
    --orangeaqua-400: #ee8572;

    /** Cafe Pallete **/
    --cafe-100: #F97B4F;
    --cafe-200: #FCBC66;
    --cafe-300: #8DC6BF;
    --cafe-400: #584053;


    /** Grays **/
    --gray : rgb(224, 224, 224);
    --dark-gray : #a0a0a0;
}