@mixin styles-card {
    &.fit {
        width: fit-content;
        @include styles-card-2;
    }

    &.flow {
        width: 100%;
        @include styles-card-2;

    }
}

@mixin styles-card-2 {
    &.center-1 {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &.center-2 {
        display: flex;
        justify-content: center;
        align-content: center;
    }    
}

.card {
    background: white;
    border: $border;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 5px;

    &.dark {
        background: $primary-color;
        @include styles-card;
    }
    
  
}



