.input {
    user-select: none;
    outline-color : $primary-color;
    outline-width: thin;
    border-radius: 5px;
    border : 1px solid #a0a0a0;
    padding : 10px;
    margin : 5px;

    &.light {
        border : 1px solid $primary-color;

        &::placeholder {
            color : $primary-color;
        }
    }
}