

.input {
    user-select: none;
    outline-color : $primary-color;
    outline-width: thin;
    border : $border;
    border-radius: 5px;
    margin: 5px;
    padding : 8px;
    font-size: 15px;

    &::placeholder {
        color : #a0a0a0;
    }
    
    &.search {
        border: $border;
        
        &::-webkit-search-cancel-button {
            z-index: 99;
        }
        &:placeholder-shown + svg{
            opacity: 10;
        }
        & + svg {
            opacity: 0;
            margin-left: -30px;
            margin-bottom: -2px;
            stroke : $dark-gray;
        }
    }

    &.email {
        border: $border;
        &::placeholder {
            color : #a0a0a0;
        }

        &::-webkit-search-cancel-button {
            z-index: 99;
        }

        &:placeholder-shown + span {
            opacity: 10;
        }

        & + span {
            opacity: 0;
            margin: 0;
            margin-left: -30px;
            margin-bottom: -2px;
            color: $dark-gray;
        }
    }

    &.checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &.color {
        -webkit-appearance: none;
        border: none;
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &::webkit-color-swatch-wrapper {
            padding: 0;
        }

        &::-webkit-color-swatch {
            border-radius: 3px;
            border: $border;
        }
    }

    &.date {
        -webkit-appearance: none;
        width: fit-content;
     
        &::-webkit-inner-spin-button {
            display: none;
        }
        &::-webkit-calendar-picker-indicator {
            color: $primary-color;
            cursor: pointer;
        }

        &::-webkit-calendar-picker-indicator {
            top: 3px;
            right: 0;
            color: $primary-color;
            opacity: 1;
        }

    }

    &.datelocal {
        -webkit-appearance: none;
        width: fit-content;

    }

    
}



.wrapper-input {

    &.checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: fit-content;
        margin: 5px;

        .checkbox-text {
            margin: 5px 0;
            font-size: 16px;
        }
        /* Hide the browser's default checkbox */
       
        
        /* Create a custom checkbox */
        .checkbox-marker {
            position: absolute;
            border-radius: 5px;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: whitesmoke;
            border: $border;
        }
        
        /* On mouse-over, add a grey background color */
        input:hover ~ .checkbox-marker {
            background-color: $gray;
        }
        
        /* When the checkbox is checked, add a blue background */
        input:checked ~ .checkbox-marker {
            background-color: $primary-color;
            border: 1.5px solid $primary-color;
        }
        
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkbox-marker:after {
            content: "";
            position: absolute;
            display: none;
        }
        
        /* Show the checkmark when checked */
        input:checked ~ .checkbox-marker:after {
            display: block;
        }
        
        /* Style the checkmark/indicator */
        .checkbox-marker:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &.search {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
            height: fit-content;
        }
    }

}

//Windows Feature
// Disable the color dropper
.colorpick-eyedropper-input-trigger {
    display: none;
}
    

