/*the container must be positioned relative:*/
.select-tool {
    position: relative;
    width: fit-content;
    margin: 0 10px;

    &.white {
      background: white;
      border: $border;
      border-radius: 5px;
    }

    &.gray {
      background: #f5f5f5;
      border: $border;
      border-radius: 5px;
    }

    &.transparent {
      background: none;
      border: 0;
      color: gray;
    }

}
  
.select-tool select {
  display: none; /*hide original SELECT element:*/
  
}

.select-selected {
    display: flex;
    border-radius: 5px;
    padding: 8px 5px;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: fit-content;
    
  
    
    &:after {
        position: relative;
        content: "";
        top: 8px;
        width: 0;
        height: 100%;
        margin-left: 10px;
        border: 6px solid transparent;
        border-color: black transparent transparent transparent;
        transition: 0.5s;
        
    }

    &.select-arrow-active:after {
        border-color: transparent transparent $primary-color transparent;
        top: 2px;
    }
}


.select-items div {
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

.select-items {
  position: absolute;
  background-color: whitesmoke;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 8;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}