
// Mixins
@mixin overall {
    margin: 0;
    padding : 10px;
    
}

@mixin subtitle-styles {

    &.fade {
        color : $dark-gray;
    }

    &.shown {
        color : black;
    }
}


// * Typography Designs 
h1 {
    font-size: 60px; 
    @include overall; 
}

h2 {
    font-size : 45px;
    @include overall; 
}

h3 {
    font-size : 40px;
    @include overall;  
}

h4 {
    font-size : 35px;
    @include overall; 
}

h5 {
    font-size : 30px;
    @include overall; 
}

h6 {
    font-size : 25px;
    @include overall; 
}


.subtitle {
    @include overall;  

    &.large {
        font-size : 20px;
        @include subtitle-styles;
    }

    &.medium {
        font-size : 18px;
        @include subtitle-styles;
    }

    &.small {
        font-size : 14px;
        @include subtitle-styles;
    }

    

}






